body,
h1,
h2,
h3,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
pre,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  --main-hue: 208;
  --text-color: #000;
  --main-color: hsl(var(--main-hue), 92%, 54%);
  --main-color-hover: hsl(var(--main-hue), 77%, 48%);
  --bg-color: white;
  --light-text-color: #9ca7b6;
  --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
  --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
  --input-text: #8c9aaf;
  --light-main-color: hsl(var(--main-hue), 91%, 55%);
}

/* Navbar Styles */
.navbar {
  position: relative;
  background-color: rgba(51, 51, 51, 0);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 2;
  height: 70px; 
}

.logo h2 {
  color: black;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: black;
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  margin-left: 50px;
}

.contact-link {
  cursor: pointer;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background-color: black;
  transform: scaleX(0); 
  transform-origin: right;
  transition: transform 0.3s ease; 
}

.nav-links a:hover::after,
.nav-links a:visited::after {
  transform: scaleX(1); 
  transform-origin: left; 
}

.nav-links a.active-link::after {
  transform: scaleX(1); 
  transform-origin: left;
}


/* HomePage Styles */
.home-page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-content {
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.inner-content {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 3%;
}

.inner-content h1 {
  font-size: 4em;
  font-weight: bold;
}

.inner-content p {
  font-size: 1.5em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inner-content {
  animation: fadeIn 1.5s ease-in-out;
}

.hero-content button {
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-content button:hover {
  color: white;
  background-color: var(--main-color-hover);
}

.background-image-container {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.hero-background-image {
  width: 100%;
  height: 85%;
  object-position: center bottom;
  object-fit: cover;
  filter: brightness(0.7) opacity(0.7); 
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* MISSION SECTION OF THE HOMEPAGE */
.mission{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 80px;
  margin-top: 8%;
}

.mission-element {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.mission-content {
  width: 100%;
  text-align: center;
  background-color: rgb(232, 232, 232);
}

.mission-content h1 {
  font-size: 4rem; 
}

.mission-content p {
  margin-top: 1.2rem;
  font-size: 1.1rem;
}

.highlight{
  display: block;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.mission-image img {
  width: 100%;
  height: 520px;
  transition: transform 0.3s;
}

.mission-image img:hover {
  transform: scale(1.1);
}

/* INSIGHT CONTENT OF HOMEPAGE */
.insights-for-all {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8%;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 40px;
}

.insight-content {
  flex: 1;
  height: 100%;
  background-color: #f3f3f3; 
  padding: 90px 80px; 
  margin-right: 50px;
}

.insight-text-content {
  text-align: left;
}

.insight-text-content h2 {
  font-size: 3.1em;
  margin-bottom: 10px;
}

.insight-text-content p {
  font-size: 1.1em;
  margin-bottom: 15px;
  width: 20em;
}

.spacing {
  height: 30px;
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
}

.slider-item img {
  width: 350px;
  height: 250px; 
}

.text-content {
  flex: 1;
  padding: 0 20px;
}

.text-content h3 {
  font-size: 1.5em; 
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1em; 
}

.spacing-button {
  background-color: var(--main-color); 
  color: #fff; 
  padding: 10px 20px;  
  font-size: 1.2em; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 20px;
}

.spacing-button:hover {
  color: white;
  background-color: var(--main-color-hover); 
}

/* SELECT YEAR SECTION OF THE HOMEPAGE */
.select-year-section {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.background-image {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 40px 40px 100px 40px;
}


.background-image h1 {
  font-size: 3.5em;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

select {
  font-size: 1.2em;
  padding: 10px;
}

/* ElectionReportPage Styles */
.election-report-page {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.election-report-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c6c6c6;
  border-radius: 20px; 
  overflow: hidden; 
  width: 100%; 
  max-width: 95%;
  margin: 0 auto;
}

.election-report-header {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}

.india-map-container {
  width: 100%;
  text-align: center;
}

.india-map {
  width: 50%; 
  height: auto; 
  margin: 0 auto;
}

/* table Styles */
.election-report-table-container{
  padding: 30px;
}

.table-container {
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 450px;
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2; 
  z-index: 1;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2; 
}

.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9; 
}

/* About Us.css */
.about-us-container {
  position: relative;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.about-us-content {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.about-us-image-container img {
  width: 100%;
  border-radius: 8px;
}

.about-us-text-container {
  flex: 1;
  margin: 0 20px;
}

.about-us-container h2 {
  text-align: center;
}

.about-us-container p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}

/* CONTACT US STYLE */
.contact {
  margin-top: 8%;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
}

.contact .container {
  height: 100vh;
  min-height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.contact .container > div{
  grid-column: 1/2;
  grid-row: 1/2;
}

.left {
  width: 100%; 
  max-width: 80rem;
  margin: 0 auto;
  padding: 65px 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  z-index: 3;
}

.contact-heading h1{
  font-weight: 600;
  color: var(--text-color);
  font-size: 3.5rem;
  line-height: 0.9;
  white-space: nowrap;
  margin-bottom: 1.2rem;
}

.contact-heading h1 span {
  color: var(--main-color);
}

.text {
  color: var(--light-text-color);
  line-height: 1.1;
  font-size: 1rem;
}

.text a {
  color: var(--main-color);
  transition: 0.3s;
  text-decoration: none;
}

.text a:hover {
  color: var(--main-color-hover);
}

.form-wrapper {
  max-width: 32rem;
}

.contact-form {
  display: grid;
  margin-top: 2.55rem;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.input-wrap {
  position: relative;
}

.input-wrap.w-100 {
  grid-column: span 2;
}

.contact-input {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--input-bg);
  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 20px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.95rem;
  border: 2px solid transparent;
  box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
  transition: 0.3s;
}

.contact-input:hover {
  background-color: var(--input-bg-hover);
}

.input-wrap label {
 position: absolute;
 top: 50%;
 left: calc(1.35rem + 2px);
 transform: translateY(-50%);
 color: var(--light-text-color);
 pointer-events: none;
 transition: 0.25s;
}

.input-wrap .icon {
 position: absolute;
 right: calc(1.35rem + 2px);
 top: 50%;
 transform: translateY(-50%);
 pointer-events: none;
 color: var(--input-text);
 font-size: 1.25rem;
 transition: 0.3s;
}

textarea.contact-input {
  resize: none;
  width: 100%;
  min-height: 150px;
}

textarea.contact-input ~ label {
  top: 1.2rem;
  transform: none;
}

textarea.contact-input ~ .icon {
  top: 1.3rem;
  transform: none;
}

.input-wrap.focus .contact-input {
  background-color: var(--bg-color);
  border: 2px solid var(--light-main-color);
  box-shadow: 0 0 0 5px hsla(var(--main-hue), 91%, 55%, 0.11);
}

.input-wrap.focus label {
  color: var(--light-main-color);
}

.input-wrap.focus .icon {
  color: var(--light-main-color);
}

.input-wrap.not-empty label {
  font-size: 0.66rem;
  top: 0.75rem;
  transform: translateY(0);
}

.contact-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.btn {
  display: inline-block;
  padding: 1.1rem 2rem;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 40px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--main-color-hover);
}

.btn.upload {
  position: relative;
  background-color: var(--input-bg);
}

.btn.upload span {
  color: var(--light-text-color);
}

.btn.upload:hover {
  background-color: var(--input-bg-hover);
}

.btn.upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: red;
  cursor: pointer;
  opacity: 0;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  pointer-events: none;
}

.image-wrapper {
  position: relative;
  grid-column: 2;
}

.image-wrapper .img {
  position: absolute;
  height: 130%;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wave-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 100%;
  background-color: var(--bg-color);
}

.wave-wrap svg {
  position: absolute;
  height: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 2px);
}

#wave {
  fill: var(--bg-color);
  height: 100%;
}

.dashed-wave {
  position: absolute;
  z-index: 3;
  height: 130%;
  bottom: 60%;
  left: -28px;
  transform: translateY(50%);
}

#dashed-wave {
  fill: none;
  stroke: hsl(var(--main-hue), 17%, 79%);
  stroke-width: 1px;
  stroke-dasharray: 6.5;
  opacity: 0.8;
}

/* Footer Styles */
footer {
  margin-top: 8%;
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--input-bg);
  padding: 20px;
  color: white;
  text-align: center;
}

footer p {
  color: var(--light-main-color);
  font-size: 1.2rem;
}
